/* GENERAL */

:root {
   --background: #1A1F27;
   --first-color: #F05F45;
   --second-color: #17E1FF;
   --neutral-color: #E9CE4E;
}

body {
    background-color: var(--background);
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    margin: 0 auto;
    height: 100vh;
}

a, a:hover {
   color: #FFFFFF;
   text-decoration: none;
}

ul {
    list-style: none;
}

.content {
    display: grid;
    grid-template-rows: 100px auto 125px;
    grid-template-columns: 100%;
    grid-template-areas:
            "header"
            "main"
            "footer";

    height: 100%;
    padding-top: 70px;
}

.main-content {
    grid-area: main;

    height: 100%;
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.pregame-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.underline{
    width: 100%;
    max-width: 130px;
    margin: 30px auto 50px auto;
    border: 1px var(--neutral-color) solid;
}

.neutral-color {
    color: var(--neutral-color);
}

.close-button:hover {
    color: #FFFFFF;
}

/* SITE HEADER */

.site-header {
    grid-area: header;

    width: 100%;
    max-width: 1560px;
    height: 100px;
    margin: 0 auto;
    padding: 0 50px;
}

.site-logo {
    font-size: 38px;
    color: var(--neutral-color);
}

.site-logo:hover {
    color: #FFFFFF;
}

.header-button {
    margin-right: 20px;
}

/* INDEX */

.index {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.site-title {
    margin: 0;
    font-size: 250px;
    font-weight: 600;

    -webkit-text-stroke: 3px var(--neutral-color);
    -webkit-text-fill-color: transparent;
}

.site-subtitle {
    margin-bottom: 70px;
    font-size: 28px;
    font-style: italic;
    color: var(--neutral-color);
}

.play-button {
    margin: auto 20px auto 20px;
}

/* GAME RULES */

.subpage-title {
    text-align: center;
}

.rules_list {
    margin: 0 auto;
    max-width: 900px;
    line-height: 2;
}

.return-link {
    cursor: pointer;
}

/* GAME SETTINGS*/

.online-games {
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-settings-field li {
    display: inline-block;
    margin-right: 20px;
}

.create-button {
    display: block;
    margin: 30px auto 0 auto;
    color: var(--neutral-color);
    border-color: var(--neutral-color);
}

.game-settings-field li:last-child {
    margin-right: 0;
}

.text-input {
    display: block;
    width: 100%;
    margin-bottom: 26px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px var(--neutral-color) solid;
    background-color: transparent;
    color: #FFFFFF;
}

.text-input:focus {
    outline: none;
}

.game-settings-form {
    order: 1;
}

.game-settings-table {
    order: 2;
}

.games-table {
    min-width: 400px;
    text-align: center;
    overflow: auto;
}

.games-table th,  .games-table td {
    border: 1px var(--neutral-color) solid;
    padding: 0.5rem;
}

.games-table th {
    font-weight: 600;
}

/* GAME - GAME FIELD */

.game-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* GAME - SCOREBOARD */

.scoreboard {
    text-align: center;
    font-size: 28px;
}

.scoreboard--player1 {
    order: 1;
}

.scoreboard--player2 {
    order: 3;
}

.first-player-color {
    color: var(--first-color);
}

.second-player-color {
    color: var(--second-color);
}

/* GAME - BOARD */

.board {
    order: 2;
    border-collapse: separate;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 30%;
    border: 4px var(--neutral-color) solid;
    margin: 0;
    padding: 0;
}

.box {
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.box--sm {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.box--p1 {
    background-color: var(--first-color);
}

.box--p2 {
    background-color: var(--second-color);
}

.h-edge--marked,
.v-edge--marked {
    display: block;
    vertical-align: middle;
    background: var(--neutral-color);
}

.h-edge--unmarked,
.v-edge--unmarked {
    display: block;
    vertical-align: middle;
    background: #29303A;
}

.h-edge--p1,
.v-edge--p1 {
    display: block;
    vertical-align: middle;
    background: var(--first-color);
}

.h-edge--p2,
.v-edge--p2 {
    display: block;
    vertical-align: middle;
    background: var(--second-color);
}

.h-edge__move,
.v-edge__move {
    display: block;
    vertical-align: middle;
    background-color: #29303A;
}

.h-edge__move:hover,
.v-edge__move:hover {
    background-color: var(--neutral-color);
}

.h-edge,
.h-edge__move {
    box-sizing: border-box;
    width: 60px;
    height: 10px;
    margin: 5px 0;
    padding: 0;
}

.v-edge,
.v-edge__move {
    width: 10px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

/* GAME - STATEMENT */

.game-statement {
    grid-area: footer;
    grid-row-end: 3;

    width: 100%;
    height: 125px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;
    color: var(--neutral-color);
    background-color: #232833;
}

@media (max-width: 850px) {
    .site-title{
        font-size: 70px;
        -webkit-text-stroke: 1px var(--neutral-color);
    }
}