{% extends 'layout.html' %}

{% block body %}
<main class="main-content pregame-content">
    <h2 class="subpage-title">Stwórz nową grę</h2>
    <hr class="underline">
    {% from 'includes/_formhelpers.html' import render_field %}
    <form method="POST" action="{{ url_for('start') }}">
        <div class="game-settings-field">
            {{ render_field(form.opponent) }}
        </div>
        <div class="game-settings-field">
            {{ render_field(form.size) }}
        </div>
        <input class="create-button btn btn-outline-warning" type="submit" value="Rozpocznij grę">
    </form>
</main>
{% endblock %}